@import "mi-nav.css";
@import "mi-footer.css";
@import "listas.css";

:root {
  font-family: sans-serif;
  --col-active: #4646462c;
  --color-header: white;
  --colorMiNav: white;
}

body {

  max-width: 800px;
  margin: 0 auto;
  padding: 0.5rem;
  background-color: cornflowerblue;
  
}

.zoom{

  transition: 0.2s;
  transform: scale(1);
  }
.zoom:hover{

transform: scale(2.5);

}
header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color:
    var(--color-header);
}

.centrarimg{

  display: flex;
  flex-flow: wrap;
  align-items: center;
  align-content: flex-start;
  justify-content: flex-start;
  margin-top: 0.5rem;
  padding-bottom: 0.5rem;
  gap: 0.5rem;
}

.herramientas {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  align-content: flex-end;
  justify-content: flex-end;
  margin-top: 0.5rem;
  padding-bottom: 0.5rem;
  gap: 0.5rem;
}

header input {
  flex-grow: 1;
}



h1 {
  margin: 0.5rem 0;

}

figure img {
  max-width: 100%;
}

legend,
p label {
  display: block;
  font-weight: bold;
  font-size: 0.7rem;
}

p label>* {
  display: block;
  font-weight: normal;
  font-size: 1rem;
  box-sizing: border-box;
  width: 100%;
}

.boton {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  display: flex;
  flex-flow: wrap;
  left: 50px;
  margin-top: 0.5rem;
  padding-bottom: 0.5rem;
  gap: 0.5rem;
  font-size: 16px;

  transition-duration: 0.4s;
  cursor: pointer;
}

.button {
  
  background-color: white;
  color: black;
  border: 2px solid black;
}

.button:hover {
  background-color: black;
  color: white;
}


.caja{
  max-width: 800px;
  background: white;
  padding: 30px;
  margin: auto;
  margin-top: 50px;
  border-radius: 12px;
  font-family: 'sans-serif';
  box-shadow: 7px 13px 37px #000;
}