mi-nav { 
  display: block;
  position: -webkit-sticky;
  position: sticky;
  background-color: navy;
}

mi-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: black;
}

mi-nav li {
  float: left;
}

mi-nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

mi-nav li a:hover:not(.active) {
  background-color: cornflowerblue;
}

mi-nav li a.active {
  color: white;
  background-color:cyan;
}
